body {
  background-color: var(--black);
  margin: 0;
}

nav {
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--lightblack);
  border-radius: 10px;
}
nav {
  left: 5px;
  width: 20%;
  background-color: var(--black);
  position: relative;
  height: 100vh;
  overflow: auto;
}
li a i {
  padding: 10px;
  font-size: 20px;
}
li a {
  display: block;
  color: var(--hoverno);
  padding: 10px;
  margin: 15px;
  text-decoration: none;
}

li a:hover {
  color: var(--hoveryes);
}


.redo-undo {
  position: relative;
  color: var(--hoverno);
  padding: 10px;
  margin-left: 30px;

}

.redo-undo i:hover {
  color: var(--hoveryes);
}

.redo-undo i {
  margin: 10px;
  font-size: 20px;
}

main {
  height: 100vh;
  border-radius: 15px;
  background-color: var(--lightblack);
  margin-left: 22%;
  padding: 1px 16px;

}
iframe {
  width: 100%;
  height: 90%;
  /* border: none; */
}

.search-bar {
  display: flex;
  align-items: center;
  width: 300px;
  height: 40px;
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 5px;
  float: right;
}

.search-bar input {
  flex: 1;
  outline: none;
  border: none;
  background: none;
  padding: 5px;
  font-size: 16px;
}

.search-bar button {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
}

/* Style the search icon */
.search-bar i.fa-search {
  color: #555;
  font-size: 20px;
}
